.clock-input {
  border: none;
  background: unset;
  box-sizing: unset;
  width: 6ch;
  text-align: center;
  font-size: xx-large;
  font-family: "Jersey 10", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Remove the arrows */

/* Chrome, Safari, Edge, Opera */
.clock-input::-webkit-outer-spin-button,
.clock-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.clock-input[type=number] {
  -moz-appearance: textfield;
}