.all {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.prevent-select {
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
